body {
    background-image: url(bgimage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

form input[type="text"] {
    display: block;
    width: 50%;


}

div {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}