html {
    height: 100vh;
}

html {
    background-image: url(bgimage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-position: center;
    background-size: cover;
}
