.input-elements {
    position: fixed;
    top: 45%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#searchbar {
    width: 600px;
    height: 35px;
    padding: 5px;
    border: 0.5px solid grey;
    border-radius: 35px;
    margin: 10px;
}


.submitbutton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#googlesearch, #lucky, #searchimage{
    height: 200px;
    background-color: #f4f4f5;
    color: black;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    border: 1px grey;
    margin: 8px;
    
}



#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 60%;
    color: aliceblue;
}

#advancedlink {
    position:absolute;
    top: 8px;
    right: 10px;

}
#imagelink {
    position: absolute;
    top: 8px;
    right: 130px;
}

#backhome {
    display: flex;
    justify-content: flex-end;
}